{
  "presets": ["@babel/preset-env", "@babel/preset-react", "@babel/preset-typescript"],
  "plugins": [
    "react-refresh/babel",
    // [
    //   "module-resolver",
    //   {
    //     "alias": {
    //       "@": "./src"
    //     }
    //   }
    // ],
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ]
  ]
}
